
<div id="gitalk-container"></div>
<link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
<script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script type="text/javascript" src="/hexotest/js/md5.js"></script>
<% if (typeof(script) !== 'undefined' && script) { %>

<script type="text/javascript">
    (function() {
        var language = navigator.language || navigator.userLanguage;
        var path = location.pathname || 'unknown'
        var id = md5(path);
        var title = '[blog]' + (document.title || 'unknown')

        var gitalk = new Gitalk({
            clientID: 'bf002086ff686a06a966',
            clientSecret: 'adf9b3fcd30cfceffb856603a43f7f353073063e',
            repo: 'hexotest',
            owner: 'tomfriwel',
            admin: ['tomfriwel'],
            id: id,
            labels: ['blog-comments'],
            title: title,
            distractionFreeMode: false,
            language: language
        });
        gitalk.render('gitalk-container');
    })();
</script>
<% } else { %>
    
<% } %>