<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<!-- <h2 class="border-top" id="comments">Comments
    <a style="color:inherit;" href="#comments">#</a>
</h2> -->
<div id="gitalk-container"></div>
<script type="text/javascript" src="/hexotest/js/md5.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var language = navigator.language || navigator.userLanguage;
        var path = location.pathname || 'unknown'
        var id = md5(path);
        var title = '[blog]' + (document.title || 'unknown')

        var gitalk = new Gitalk({
            clientID: 'd1eb7e13bdea94d4be23',
            clientSecret: '91cb6a1282bfd6e8225ee6d1c4b2743f621063ec',
            repo: 'blog',
            owner: 'tomfriwel',
            admin: ['tomfriwel'],
            id: id,
            labels: ['blog-comments'],
            title: title,
            distractionFreeMode: false,
            language: language
        });
        gitalk.render('gitalk-container');
    }
</script>